.App {
  text-align: center;
}

button {
  border-radius: 10px;
  margin: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: inherit;
  overflow: visible;
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
  padding: 5px;
  border-style: none;
  outline: 0;
  background-color: cyan;
}

